name: Ruby

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ["3.2", "3.3", "3.4"]
        haml-version: ["~> 5.0", "~> 6.0", "~> 7.0"]
        exclude:
          # Haml 7.x requires Ruby 3.2+, but exclude older Ruby just to reduce matrix
          # All combinations are valid since we require Ruby 3.2+

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
        env:
          HAML_VERSION: ${{ matrix.haml-version }}
      - name: Run tests
        run: bundle exec rspec
